; ==============================================================================
; NPM configuration
; ==============================================================================

; Require correct engine versions
engine-strict = true

; Enable package-lock.json generation
package-lock = true

; Don't save by default
save = false

; Require all package.json dependencies to point to exact package version
save-exact = true
